*{
    padding: 0;
    margin: 0;
    height: 100%;
}

.navbar{
    height: 45px;    
}

.navbar ul{
    list-style-type: none;
    background-color: #ce4257;
    overflow: hidden;
}

.navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}

.navbar li{
    float: right;
}

.logo{
    position: absolute;
    font-size: 16px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar a:hover{
    cursor: pointer;
}

.home_page{
    background-color: black;
}